<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        Editar Sistema
      </div>
      <div class="card-body">
       <form (ngSubmit)="onSubmit()"action="">
          <div class="form-group">
            <label for="">Nombre</label>
            <input [(ngModel)]="sistema.nombre" name="nombre" type="text" class="form-control">
          </div>
          <button tyoe="submit" class="btn btn-primary">Guardar</button>
       </form>
      </div>
    </div>
    </div>

    <app-modal [name]="nameModal" [numModal]="numModal" (eventEmit)="gotoList()"></app-modal>
    
    
    
    


