<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      Editar Usuario
    </div>
    <div class="card-body">
     <form (ngSubmit)="onSubmit()"action="">
        <div class="form-group">
          <label for="">Nombre</label>
          <input [(ngModel)]="usuario.nombre" name="nombre" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Apellido</label>
          <input [(ngModel)]="usuario.apellido" name="apellido" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Correo</label>
          <input [(ngModel)]="usuario.correo" name="correo" type="text" class="form-control">
         </div>
         <div class="form-group">
          <label for="">Password</label>
          <input [(ngModel)]="usuario.password" name="password" type="text" class="form-control">
         </div>
        <button tyoe="submit" class="btn btn-primary">Guardar</button>
     </form>
    </div>
  </div>
  </div>

  <app-modal [name]="nameModal" [numModal]="numModal" (eventEmit)="gotoList()"></app-modal>
  
  
  
  