<!-- <div class="container col-md-2"> 
  <button (click)="Salir()" class="btn btn-primary" style= "margin-left: 10px;">Salir</button> 
</div>
 -->
<div class="container productos  mt-4">
    <h2 class="text-center text-white font-weight-bold" >REPORTES</h2>
    <div class="row mt-4 justify-content-center">
      <div class="col-md-6 col-lg-4 mb-4 mb-md-4"> <img src="assets/img/Usuarios.png" class="img-fluid mx-auto d-block" width="100">
        <div class="info-producto bg-dark text-center text-light">
          <h3 class="text-center mb-2">ORDEN DE TRABAJO</h3>
          <p>Visualizar reportes por orden de trabajo</p>
          <a href="" class="btn btn-primary mb-2 btn-lg text-uppercase font-weight-bold" href="#" routerLink="/list-ot" routerLinkActive="active">Ingresar</a>
        </div>
      </div>
      <div  class="col-md-6 col-lg-4 mb-4 mb-md-4">
        <img src="assets/img/Sistemas.png" class="img-fluid mx-auto d-block" width="100">
        <div class="info-producto bg-dark text-center text-light">
          <h3 class="text-center mb-2">HISTORIAL DEL EQUIPO</h3>
          <p>Visualizar reportes por historial del equipo</p>
          <a href="" class="btn btn-primary mb-2 btn-lg text-uppercase font-weight-bold" href="#" routerLink="/list-idcod" routerLinkActive="active">Ingresar</a>
        </div>
      </div>
    </div>
</div>


